<Defs>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_FormCaravan_Event</defName>
        <trigger>Caravan</trigger>
        <soundDef>VAC_FormCaravan</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_Betrayal_Event</defName>
        <trigger>Betrayal</trigger>
        <soundDef>VAC_Betrayal</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_MentalBreak_Event</defName>
        <trigger>MentalBreak</trigger>
        <soundDef>VAC_MentalBreak</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_TransportCrash_Event</defName>
        <trigger>TransportCrash</trigger>
        <soundDef>VAC_TransportCrash</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_Zzzt_Event</defName>
        <trigger>Zzzt</trigger>
        <soundDef>VAC_Zzzt</soundDef>
    </VAC.VAC_EventSoundDef>
    <!---->
    <VAC.VAC_EventSoundDef>
        <defName>VAC_Arrested_Event</defName>
        <trigger>Arrest</trigger>
        <soundDef>VAC_Arrested</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_ToxicFallout_Event</defName>
        <trigger>ToxicFallout</trigger>
        <soundDef>VAC_ToxicFallout</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_ToxicSpewer_Event</defName>
        <trigger>ToxicSpewer</trigger>
        <soundDef>VAC_ToxicSpewer</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_WarMusicLoopDropPods_Event</defName>
        <trigger>DropPod</trigger>
        <soundDef>VAC_WarMusicLoopDropPods</soundDef>
    </VAC.VAC_EventSoundDef>
    <!-- -->
    <VAC.VAC_EventSoundDef>
        <defName>VAC_HumanRaidEvent_Event</defName>
        <trigger>HumanRaid</trigger>
        <soundDef>VAC_HumanRaidEvent</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_InfestationEvent_Event</defName>
        <trigger>Infestation</trigger>
        <soundDef>VAC_InfestationEvent</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_WarMusicLoopMechanoidRaid_Event</defName>
        <trigger>MechRaid</trigger>
        <soundDef>VAC_WarMusicLoopMechanoidRaid</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_WarMusicManhunter_Event</defName>
        <trigger>Manhunter</trigger>
        <soundDef>VAC_ManhunterEvent</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_WarMusicLoopHumanRaid_Event</defName>
        <trigger>HumanRaid</trigger>
        <soundDef>VAC_WarMusicLoopHumanRaid</soundDef>
    </VAC.VAC_EventSoundDef>
    <VAC.VAC_EventSoundDef>
        <defName>VAC_WarMusicLoopInfestation_Event</defName>
        <trigger>Infestation</trigger>
        <soundDef>VAC_WarMusicLoopInfestation</soundDef>
    </VAC.VAC_EventSoundDef>
</Defs>